.miniature {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20rem;
    margin: 1rem 1rem 1rem 0;
    width: 20rem;
    text-align: center;
}

.blackbox {
    background-color: black;
    height: 100%;  
    opacity: 0;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.blackbox:hover {
    opacity: 0.9;
    transition-duration: 1s;
}

.blackbox-text {
    text-align: center;
    padding-top: 9rem;
}

.blackbox-text h2 {
    font-size: 16px;
    color: #f27609;
    margin: 0;
}

.blackbox-text h3 {
    text-transform: none;
    font-weight: 100;
    color: white;
}

@media screen and (max-width: 1000px) {
    .blackbox {
        opacity: 0.9;
    }
}